<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Blood Help:</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/search.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <% include ./includes/navigation.ejs %> <% if(!isAuthenticated) {%>
    <div class="container">
      access denied
    </div>
    <% } %> <% if(isAuthenticated) { let count=0; %>
    <div class="container"></div>
    <div class="container">
      <% data.forEach(function(user){ count++;%>
      <div class="card" style="width: 20rem; margin:20px auto; ">
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text">
            age : <%= user.age %>
            <br />
            blood Group : <%= user.bloodGroup %>
          </p>
          <a
            href="mailto:<%=user.email %>?Subject=Blood%20Help%20Required&body=Hi%20I'm%20in%20a%20need%20of%20blood%20of%20bloodGroup%20<%=user.bloodGroup %>"
            target="_blank"
            class="btn btn-primary"
            >Ask for blood</a
          >
        </div>
      </div>
      <% }) %> <% } %>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <% if(hasPreviousPage){%>
            <a
              class="page-link"
              href="/search/?search=<%=bloodGroup%>&page=<%= previousPage %>"
              >Previous</a
            >
            <%}%>
          </li>
          <li class="page-item">
            <% if(hasNextPage){ %>
            <a
              class="page-link"
              href="/search/?search=<%=bloodGroup%>&page=<%=nextPage%>"
              >Next</a
            >
            <% } %>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
